{% extends 'base.html.twig' %}

{% block pageTitle %} - Home{% endblock %}

{% block body %}
    <section class="main_content">
            <h3> Welcome to Bibliography Manager</h3>
    </section>
{% endblock %}